.products{
    overflow: hidden;
    height: 500px;
    position: relative;
    @media(max-width: 800px){
        height: 460px;
    }
    h2{
        color: rgb(1, 75, 1);
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        padding: 10px 0;
        @media(max-width: 800px){
            font-size: 1.5rem;
        }
    }
    img{
        width: 90%;
        height: 350px;
        object-fit: cover;
        margin: auto;
        border-radius: 10px;
        @media(max-width: 800px){
            height: 300px;
            border-radius: 5px;
        }
    }
}
.botao{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    @media(max-width: 800px){
        position: static;
        width: 50%;
        margin: 35px auto;
        font-size: 1rem;
    }
    &:hover{
        background-color: rgb(144, 238, 144);
        color: black;
        cursor: pointer;
    }
    svg{
        font-size: 1.5rem;
    }
}