.footer {
    background-color: rgb(0, 59, 0);
    padding: 0 50px 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media(max-width:800px){
        padding: 0 10px;
    }
    &_1ln {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media(max-width:800px){
            flex-direction: column;
            margin-bottom: 10px;
        }
        img {
            width: 150px;
            padding: 10px 0;
        }

        &_contact {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                font-weight: 600;
                font-size: 1.5rem;
            }

            a {
                font-weight: 600;
                font-size: 1.5rem;
            }

            &_imgs {
                display: flex;
                gap: 5px;
                @media(max-width:800px){
                    gap: 10px;
                    margin: 5px 0;
                }
                svg {
                    font-size: 1.5rem;

                    &:hover {
                        cursor: pointer;
                        color: gray;
                    }
                }
            }
        }
    }

    &_2ln {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        @media(max-width:800px){
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 5px;
        }

        &_email {
            &:hover {
                color: gray;
                cursor: pointer;
            }
        }
    }
}
